.chat
  width: 100%
  background: #a8d2ea
  display: flex
  flex-direction: column

.messages
  ::-webkit-scrollbar
    display: none
  padding-top: 8px
  overflow-y: scroll

.input-footer

  .text-input
    overflow: hidden
    height: 48px
    width: 100%

.message-container
  padding: 0px 8px 8px 8px
  display: flex

  .message
    background: #FFF
    height: 32px
    display: flex
    min-width: 100px
    padding: 8px
    border-radius: 12px
    flex-direction: row
    justify-content: space-between

    .text
      padding: 6px 4px 0 0
      font-size: 18px

    .time
      font-size: 12px
      color: #444
      padding-top: 20px
      margin-left: 20px

.text-input
  border-width: 0px
  text-indent: 12px
  font-size: 16px
