$text-med: #90A4AE

.list
  margin-bottom: 16px
  .title
    margin-bottom: 4px
  .username
    display: block
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    cursor: pointer
    margin-bottom: 4px
    transition: color .55s ease-in-out
    -moz-transition: color .55s ease-in-out
    -webkit-transition: color .55s ease-in-out
  .username:hover
    color: $text-med
    transition: color .25s ease-in-out
    -moz-transition: color .25s ease-in-out
    -webkit-transition: color .25s ease-in-out
